/* Style for widgets */

/* Ground Track */
.ocean {
  background: #111950; 	
}

.graticule {
  fill: none;
  stroke: #8B8C94;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #CFCFD5;
  stroke: #020613;
}

.boundary {
  fill: none;
  stroke: #020613;
  stroke-width: .5px;
}

.groundbutton {
  padding: 5px 10px;
  background-color: #CFCFD5;  
  color: #020613;
  font-size: 10px;
}

.plane {
  fill: #07D1EA;
  stroke: #020613;
	
}

.route {
  fill: none;
  stroke: #FF6D00;  
}
/****************/